@font-face {
	font-family: 'Hello January';
	src: url('assets/fonts/Hello\ January\ script\ cyrillic\ Script.otf')
		format('opentype');
	/* url('assets/fonts/Hello\ January\ symbols\ Script.otf') format('opentype'); */
}
@import url('assets/fonts/Hello\ January\ symbols\ Script.otf');

@font-face {
	font-family: 'Pierson Light';
	src: url('assets/fonts/Pierson-Light.ttf') format('truetype');
}

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/** My Styles  */

/** General Styles  */

body {
	overflow-y: scroll;
	scroll-snap-type: y mandatory;
	height: 100vh;
}

/** Scrollfix */

/* .layout {
	width: 100%;
	position: relative;
} */

.layout {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

section.hero {
	scroll-snap-type: y mandatory;
	overflow-y: scroll;
	height: 100vh;
}

section.hero > .container {
	scroll-snap-align: start;
}

section,
header > section {
	scroll-snap-align: start;
	height: 100vh;
	position: relative;
}

/* section.portfolio-preview > div.spacer {
	height: 200px;
} */

header > div.container {
	position: fixed;
	display: flex;
	width: 100vw;
	max-width: 2000px;
	flex-wrap: wrap;
	justify-content: space-between;
	background-color: rgba(255, 255, 255, 0.7);
	z-index: 100;
}

img.logo {
	width: 80px;
	margin: 5px;
}

nav {
	display: flex;
}

.header-nav {
	margin-right: 20px;
}

nav > ul {
	display: flex;
	align-items: center;
}

ul > li,
li > a {
	list-style: none;
	text-decoration: none;
	color: #aa480b;
}

.header-nav li {
	padding: 20px;
}

section.hero {
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	color: #fff;
}

section.hero > .container {
	clip: rect(0, auto, auto, 0);
	overflow: hidden;
	position: absolute;
	height: 100vh;
	left: 0;
	width: 100%;
	/* safari hack */
	-webkit-mask-image: -webkit-linear-gradient(top, #fff 0%, #fff 100%);
}

.container-solid {
	background: #fff;
	top: 0;
}

.title-wrapper {
	position: fixed;
	display: block;
	margin: auto;
	width: 100%;
	top: 50%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	transform: translateY(-50%);
}

.title-wrapper h1 {
	text-align: center;
	font-size: 5rem;
	text-transform: uppercase;
	letter-spacing: 0.4em;
	margin-top: 10px;
	text-align: center;
	font-weight: 900;
}

.title-wrapper h5 {
	text-align: center;
	margin: 0;
	font-size: 3rem;
	font-family: 'Hello January';
}

section.hero > h5 {
	margin: 0;
	font-size: 2.5rem;
	font-family: 'Hello January';
	text-shadow: 2px 2px 2px #000;
}

.container-solid .title-wrapper h1,
.container-solid .title-wrapper h5 {
	background: url('/public/assets/hero-image/main.jpg');
	background-size: cover;
	background-position: center;
	background-clip: text;
	-webkit-background-clip: text;
	-webkit-text-fill-color: transparent;
	color: rgba(255, 255, 255, 0.7);
}

.container-image {
	background-image: url('/public/assets/hero-image/main.jpg');
	background-size: 100vw auto;
	background-position: center;
	background-attachment: fixed;
	/* top: 100vh; */
}

.container-image .title-wrapper h1 {
	color: #fff;
}

.scroll-button {
	border: none;
	background: transparent;
	position: absolute;
	left: 43%;
	top: 200%;
	-webkit-animation: bounce 1.5s infinite;
	animation: bounce 1.5s infinite;
}

@-webkit-keyframes bounce {
	0% {
		transform: scale(1, 1) translate(0px, 0px);
	}
	30% {
		transform: scale(1, 0.8) translate(0px, 10px);
	}
	75% {
		transform: scale(1, 1.1) translate(0px, -25px);
	}
	100% {
		transform: scale(1, 1) translate(0px, 0px);
	}
}

@keyframes bounce {
	0% {
		transform: scale(1, 1) translate(0px, 0px);
	}
	30% {
		transform: scale(1, 0.8) translate(0px, 10px);
	}
	75% {
		transform: scale(1, 1.1) translate(0px, -25px);
	}
	100% {
		transform: scale(1, 1) translate(0px, 0px);
	}
}

.scroll-button img {
	background: transparent;
	border: none;
	width: 200px;
}

/* !About Section + Section Class Styling */

section.about > div.container {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	/* background-color: #000; */
}

img.whitney-profile-1 {
	position: relative;
	transform: translate(-50px, -50px);
	width: 300px;
	z-index: 10;
	border: 10px solid #a79d8e;
	padding: 20px 20px;
}

div.decor-div-1 {
	position: relative;
	height: 100px;
}

div.decor-div-2 {
	position: relative;
	height: 100px;
}

img.decor-img-1 {
	width: 400px;
	transform: translate(160px, -140px);
	z-index: 0;
}

img.decor-img-2 {
	width: 400px;
	transform: scale(1.5) translate(-180px, -180px) rotate(180deg);
}

div.about-text {
	z-index: 10000;
}

div.about-text > p {
	color: #715845;
	width: 600px;
	line-height: 2em;
	font-size: 18px;
}

div.inquire {
	margin: auto;
	padding-top: 20px;
	text-align: center;
}

button.inquire-button {
	background-color: #aa480b;
	padding: 15px 25px;
	border: none;
	border-radius: 5px;
}

button.inquire-button a {
	color: #fff;
	font-size: 20px;
	margin: auto;
	padding: 10px;
}

/* !Page Divider Section */

section.banner-divider {
	height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

.banner-divider h4 {
	font-family: 'Hello January';
	font-size: 5.5rem;
	font-weight: 400;
	color: #fff;
	text-align: center;
	justify-content: center;
	align-content: center;
	align-items: center;
}

.image-divider {
	background-image: url('/public/assets/hero-image/DSC05597.png');
	height: 50%;
	width: 100%;
	background-position: center center;
	background-size: cover;
}

.color-divider {
	height: 50%;
	width: 100%;
	background-color: #e2a42c;
	font-family: 'Pierson Light';
	font-size: 3rem;
	letter-spacing: 0.2em;
	text-align: center;
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	color: #fff;
	text-shadow: 0 0 5px #000;
}

.color-divider h3 {
	text-transform: uppercase;
}

.color-divider button {
	border: none;
	border-radius: 5px;
	text-align: center;
	/* padding: 15px 25px; */
	display: flex;
}

.color-divider a {
	font-family: 'Raleway', sans-serif;
	font-size: 18px;
	text-align: center;
	/* align-content: center; */
	color: #aa480b;
	padding: 10px 20px;
}

/*! Footer Styles */
.footer {
	position: relative;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 400px;
	text-align: center;
	background-color: #a79d8e;
	align-items: center;
	display: flex;
	justify-content: center;
}

.footer img {
	width: 600px;
	margin-bottom: 20px;
}

.footer-nav {
	align-items: center;
	justify-content: center;
	flex-direction: column;
}

.footer-nav li {
	padding: 20px;
}

img.social-icon {
	width: 40px;
}

ul.menu-1,
ul.menu-2 {
	padding-left: 0;
}
